# Responsável padrão para tudo que não corresponder abaixo.
*                       @PLeonLopes @irlvinicius @JVictorFFernandes

# Scripts do pipeline e seus testes:
/scripts/               @PLeonLopes @irlvinicius @JVictorFFernandes
/scripts/tests/         @PLeonLopes @irlvinicius @JVictorFFernandes

# Scripts de instalação e configuração de CI/governança:
/scripts/install/       @PLeonLopes @irlvinicius
/.github/               @PLeonLopes @irlvinicius
